<% layout("/layouts/boilerplate")%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
        <br><br>
      <h1>New listing</h1>
      <form method="POST" action="/listings">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="enter title"
            name="title"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            placeholder="enter description"
            name="description"
            class="form-control"
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="url" class="form-label">Image link</label>
          <input
            type="text"
            placeholder="enter image url"
            name="url"
            class="form-control"
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              placeholder="enter price"
              name="price"
              class="form-control"
            />
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input
                type="text"
                placeholder="enter country"
                name="country"
                class="form-control"
              />
            
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            placeholder="enter location"
            name="location"
            class="form-control"
          />
        </div>

        <br /><br />
        <button class="btn btn-dark add-btn">Add</button>
      </form>
      <br><br>
    </div>
  </div>
</body>
